.home {
  background-color: rgb(231, 232, 227);
  background-image: url(https://assets-global.website-files.com/65d31d88753c94ac034c1f45/65d324f35a78325a4f530d41_pexels-steve-johnson-13807429.jpg);
  background-position: 0 0;
  background-size: cover;
  height: 100vh;
  padding: 0 0 30px;
  position: relative;
  overflow: hidden;
}