.upload-container, .upload-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-layout {
  --dash-color: rgb(9, 73, 255);
  margin: 4rem 0;
  color: var(--dash-color);
  width: max(50%, 40rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px dashed var(--dash-color);
  background-color: rgb(230, 237, 255);
  box-shadow: var(--box-shadow);
  padding: 3rem;
}

.drop-btn {
  background-color: rgb(244, 120, 0);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
}

.drop-btn:hover {
  background-color: rgb(244, 102, 0);
}